<div class="login-container">
  <h2>Zaloguj się</h2>
  <form (submit)="login(); $event.preventDefault()">
    <div>
      <label for="email">Email:</label><br>
      <input id="email" type="email" [(ngModel)]="email" name="emailAddress" required>
    </div>
    <div style="margin-top: 10px;">
      <label for="password">Hasło:</label><br>
      <input id="password" type="password" [(ngModel)]="password" name="password" required>
    </div>
    <div *ngIf="errorMessage" class="error" style="color: red; margin-top: 10px;">
      {{ errorMessage }}
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 15px;">
      Zaloguj się
    </button>
  </form>
  <br><p><a routerLink="/register">Nie masz konta? Zarejestruj się</a></p>
</div>
