<h1 class="mb-4 text-center">Samochody do których znajdziesz części</h1>
<br>

<ul class="menu">
  <li class="dropdown">
    <a href="#" onclick="filter('Volkswagen')">Volkswagen</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('Golf VI')">Golf VI</a>
      <a href="#" onclick="filter('Golf')">Golf</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Toyota')">Toyota</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('Avensis')">Avensis</a>
      <a href="#" onclick="filter('Corolla')">Corolla</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Ford')">Ford</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('Focus Mk2')">Focus Mk2</a>
      <a href="#" onclick="filter('Focus')">Focus</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Opel')">Opel</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('Astra')">Astra</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Skoda')">Skoda</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('Octavia')">Octavia</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Renault')">Renault</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('Megane')">Megane</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Peugeot')">Peugeot</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('308')">308</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Hyundai')">Hyundai</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('i30')">i30</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Kia')">Kia</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('Ceed')">Ceed</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Mazda')">Mazda</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('3')">3</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Honda')">Honda</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('Civic')">Civic</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Fiat')">Fiat</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('Tipo')">Tipo</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Seat')">Seat</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('Leon')">Leon</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Audi')">Audi</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('A3')">A3</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('BMW')">BMW</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('320i')">320i</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Mercedes-Benz')">Mercedes-Benz</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('C200')">C200</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Volvo')">Volvo</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('V40')">V40</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Nissan')">Nissan</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('Qashqai')">Qashqai</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Dacia')">Dacia</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('Duster')">Duster</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="#" onclick="filter('Subaru')">Subaru</a>
    <div class="dropdown-content">
      <a href="#" onclick="filter('Impreza')">Impreza</a>
    </div>
  </li>
</ul>

<br>
<div class="row g-4">
  <p>Volkswagen:<br>Golf VI 2009-2012<br>Hatchback<br>Benzyna 1.4 TSI</p>
  <p>Toyota:<br>Avensis 2008-2015<br>Sedan<br>Diesel 2.0 D-4D</p>
  <p>Ford:<br>Focus Mk2 2005-2011<br>Kombi<br>Benzyna 1.6 Ti-VCT</p>
  <p>Toyota:<br>Corolla 2010-2015<br>Sedan<br>Benzyna 1.6 VVT-i</p>
  <p>Volkswagen:<br>Golf 2013-2020<br>Hatchback<br>Diesel 2.0 TDI</p>
  <p>Ford:<br>Focus 2012-2018<br>Kombi<br>Benzyna 1.0 EcoBoost</p>
  <p>Opel:<br>Astra 2010-2016<br>Hatchback<br>Benzyna 1.4 Turbo</p>
  <p>Skoda:<br>Octavia 2014-2020<br>Liftback<br>Diesel 1.6 TDI</p>
  <p>Renault:<br>Megane 2011-2017<br>Kombi<br>Benzyna 1.2 TCe</p>
  <p>Peugeot:<br>308 2013-2019<br>Hatchback<br>Diesel 1.6 HDi</p>
  <p>Hyundai:<br>i30 2012-2017<br>Hatchback<br>Benzyna 1.4 MPI</p>
  <p>Kia:<br>Ceed 2012-2018<br>Hatchback<br>Diesel 1.6 CRDi</p>
  <p>Mazda:<br>3 2014-2019<br>Sedan<br>Benzyna 2.0 SkyActiv</p>
  <p>Honda:<br>Civic 2009-2015<br>Hatchback<br>Benzyna 1.8 i-VTEC</p>
  <p>Fiat:<br>Tipo 2015-2021<br>Sedan<br>Diesel 1.6 MultiJet</p>
  <p>Seat:<br>Leon 2013-2019<br>Hatchback<br>Benzyna 1.4 TSI</p>
  <p>Audi:<br>A3 2012-2018<br>Hatchback<br>Diesel 2.0 TDI</p>
  <p>BMW:<br>320i 2012-2018<br>Sedan<br>Benzyna 2.0 TwinPower</p>
  <p>Mercedes-Benz:<br>C200 2014-2020<br>Sedan<br>Diesel 2.1 CDI</p>
  <p>Volvo:<br>V40 2013-2019<br>Kombi<br>Diesel 2.0 D3</p>
  <p>Nissan:<br>Qashqai 2014-2020<br>SUV<br>Benzyna 1.2 DIG-T</p>
  <p>Dacia:<br>Duster 2013-2018<br>SUV<br>Diesel 1.5 dCi</p>
  <p>Subaru:<br>Impreza 2010-2016<br>Sedan<br>Benzyna 2.0 Boxer</p>
</div>
