<div *ngIf="loading" class="loading">
  Ładowanie samochodów…
</div>

<div *ngIf="error" class="error">
  {{ error }}
</div>

<table *ngIf="!loading && !error && cars.length > 0" class="cars-table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Marka</th>
    <th>Model</th>
    <th>Lata produkcji</th>
    <th>Typ nadwozia</th>
    <th>Rodzaj paliwa</th>
    <th>Typ silnika</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of cars">
    <td>{{ car.carId }}</td>
    <td>{{ car.carMake }}</td>
    <td>{{ car.carModel }}</td>
    <td>{{ car.productionYears }}</td>
    <td>{{ car.bodyType }}</td>
    <td>{{ car.fuelType }}</td>
    <td>{{ car.engineType }}</td>
  </tr>
  </tbody>
</table>

<div *ngIf="!loading && !error && cars.length === 0" class="no-data">
  Brak samochodów w bazie.
</div>

