<div class="container" xmlns="http://www.w3.org/1999/html">
  <h1 class="mb-4 text-center">Lista dostepnych części</h1>

  <!-- Loading / Error -->
  <div *ngIf="loading" class="text-center">
    <p>Ładowanie danych…</p>
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger text-center">
    {{ errorMessage }}
  </div>

  <!-- Dropdown: Categories and Part Names -->
  <ul class="menu">
    <li *ngFor="let group of groupByCategory()" class="nav-item dropdown">
      <a href="javascript:void(0)"
         class="dropdown-toggle"
         (click)="selectByCategory(group.category)">
        {{ group.category }}
      </a>
      <ul class="dropdown-menu">
        <li *ngFor="let part of group.parts">
          <a class="dropdown-item"
             href="javascript:void(0)"
             (click)="selectCategoryPart(group.category, part.partName)">
            {{ part.partName }}
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <br />

  <div *ngIf="showToast" class="toast-message">
    {{ toastMessage }}
  </div>
  <!-- Part Cards -->
  <div class="row g-4">
    <ng-container *ngFor="let part of filteredParts">
      <div class="part-card">
        <p>
          <strong>{{ part.partName }}</strong><br />
          Cena: {{ part.unitPrice }} – {{ part.quantityPerUnit }}<br />
          Pozostało: {{ part.leftOnStock }}
          <span class="hr-line"></span>
          {{ part.partDescription }}
        </p>
        <ng-container *ngIf="isBrowser && userRole === 'user'">
          <div class="btn-container">
            <input type="number"
                   [(ngModel)]="part.selectedQuantity"
                   min="1"
                   [max]="part.leftOnStock"
                   class="form-control"
                   style="width:70px;"
                   placeholder="Ilość" />
            <button class="btn btn-primary" (click)="addToCart(part)">
              Dodaj do koszyka
            </button>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <!-- No Parts Message -->
    <div *ngIf="!loading && filteredParts.length === 0" class="text-center">
      <p>Brak części do wyświetlenia.</p>
    </div>
  </div>
</div>
