<nav class="navbar custom-navbar">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand text-white" routerLink="/main">AutoParts</a>
    <ul class="navbar-nav d-flex flex-row">

      <li class="nav-item mx-2">
        <a class="nav-link text-white" routerLink="/main" routerLinkActive="active">Strona Główna</a>
      </li>

      <li class="nav-item mx-2">
        <a class="nav-link text-white" routerLink="/cars" routerLinkActive="active">Auta</a>
      </li>

      <li class="nav-item dropdown mx-2">
        <a class="nav-link dropdown-toggle text-white" href="#"
           role="button" (click)="$event.preventDefault()"
           id="categoriesDropdown" data-bs-toggle="dropdown"
           aria-expanded="false">Kategorie
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="categoriesDropdown">
          <li><a class="dropdown-item" [routerLink]="['/parts']">Wszystkie</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Silnik' }">Silnik</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Zawieszenie' }">Zawieszenie</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Karoseria' }">Karoseria</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Felgi' }">Felgi</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Filtry' }">Filtry</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Oleje' }">Oleje</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Płyny i chemia' }">Płyny i chemia</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Oświetlenie' }">Oświetlenie</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Układ chłodzenia' }">Układ chłodzenia</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Układ elektryczny' }">Układ elektryczny</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Układ hamulcowy' }">Układ hamulcowy</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Układ kierowniczy' }">Układ kierowniczy</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Układ klimatyzacji' }">Układ klimatyzacji</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Układ napędowy' }">Układ napędowy</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Układ paliwowy' }">Układ paliwowy</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Układ wydechowy' }">Układ wydechowy</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Wycieraczki' }">Wycieraczki</a></li>
          <li><a class="dropdown-item" [routerLink]="['/parts']" [queryParams]="{ category: 'Wyposażenie wnętrza' }">Wyposażenie wnętrza</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown mx-2">
        <a class="nav-link dropdown-toggle text-white"
           href="#"
           id="userDropdown"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">👤
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <li *ngIf="!isLoggedIn">
            <a class="dropdown-item" routerLink="/login">Zaloguj się</a>
          </li>

          <ng-container *ngIf="isLoggedIn && role === 'admin'">
            <li>
              <a class="dropdown-item" routerLink="/orders-admin">Zamówienia</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/warehouse">Magazyn</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/users">Użytkownicy</a>
            </li>
            <li>
              <a href="javascript:void(0)" class="dropdown-item" (click)="logout()">Wyloguj</a>
            </li>
          </ng-container>

          <ng-container *ngIf="isLoggedIn && role === 'user'">
            <li>
              <a class="dropdown-item" routerLink="/account">Konto</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/orders-user">Zamówienia</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/shopping-cart">Koszyk</a>
            </li>
            <li>
              <a href="javascript:void(0)" class="dropdown-item" (click)="logout()">Wyloguj</a>
            </li>
          </ng-container>

        </ul>
      </li>

    </ul>
  </div>
</nav>

<main class="flex-fill container my-4">
  <router-outlet></router-outlet>
</main>

<footer class="footer bg-dark text-light py-3 mt-auto">
  <div class="container text-center">
    <p>Kontakt: ul. Milionowa 21, Łódż | tel. +48 123 456 789 | <a href="mailto:biuro@autoparts.pl">biuro&#64;autoparts.pl</a></p>
    <p class="mb-0">&copy; 2025 AutoParts</p>
  </div>
</footer>
